<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359495782433-21af4c1h9a8ivpao0pfekeq8u9nhcebs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359495782433-21af4c1h9a8ivpao0pfekeq8u9nhcebs</string>
	<key>API_KEY</key>
	<string>AIzaSyAxoPUg1vR3_YhVkk7w0cGcPVRLvLNu8oc</string>
	<key>GCM_SENDER_ID</key>
	<string>359495782433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghibli.scjr1.ghibliScjr1</string>
	<key>PROJECT_ID</key>
	<string>ghibli-scjr1</string>
	<key>STORAGE_BUCKET</key>
	<string>ghibli-scjr1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359495782433:ios:84f059ae64746b26f75360</string>
</dict>
</plist>